*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.HeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #282c34;
    color: white;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}